### Imports

In [19]:
import pandas as pd
import numpy as np

### Data anlysis

In [3]:
data = pd.read_csv('data.csv')
data.head()

C:\Users\Arielle\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (14,28,37,38) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,IndexRow,Id,Logo Url,Program Name,Description,Org Name,Category Name,Capacity,Min Age,Max Age,...,Contact Email,Contact Phone,Program Price,Geographic Cluster Name,Program Pays Participants,Program Has Scholarships,Program Provides Transportation,Latitude,Longitude,Program Provides Free Food
0,"4,568",78752,NaN,BBBS Community Based Mentoring (Year Round),Community Based Mentoring is the traditional B...,Big Brothers Big Sisters,Academic Support,2000.0,7,15,...,recruitment@bbbschgo.org,NaN,Free,NEAR WEST SIDE,Not Paid,YES,YES,41.886002,-87.642403,False
1,"4,569",78752,NaN,BBBS Community Based Mentoring (Year Round),Community Based Mentoring is the traditional B...,Big Brothers Big Sisters,Work + Career,2000.0,7,15,...,recruitment@bbbschgo.org,NaN,Free,NEAR WEST SIDE,Not Paid,YES,YES,41.886002,-87.642403,False
2,"4,562",78749,https://cityoflearning-uploads.s3.amazonaws.co...,Youth Mentoring and Academic Supports,Young Men's Educational Network provides mento...,Youth Mentoring and Academic Supports,Academic Support,100.0,12,18,...,wchatman@ymenchicago.com,NaN,Free,NORTH LAWNDALE,Not Paid,NO,NO,41.864799,-87.724800,True
3,"4,563",78749,https://cityoflearning-uploads.s3.amazonaws.co...,Youth Mentoring and Academic Supports,Young Men's Educational Network provides mento...,Youth Mentoring and Academic Supports,Music & Art.,100.0,12,18,...,wchatman@ymenchicago.com,NaN,Free,NORTH LAWNDALE,Not Paid,NO,NO,41.864799,-87.724800,True
4,"4,557",78746,https://cityoflearning-uploads.s3.amazonaws.co...,Refugee Youth Career Pathways,Refugee Youth Career Pathways (RYCP) provides ...,RefugeeOne,Managing Money.,15.0,16,24,...,NaN,NaN,Free,NaN,Not Paid,YES,YES,NaN,NaN,False

In [4]:
data.columns

Index(['IndexRow', 'Id', 'Logo Url', 'Program Name', 'Description', 'Org Name',
       'Category Name', 'Capacity', 'Min Age', 'Max Age', 'Meeting Type',
       'Address', 'City', 'State', 'Zipcode', 'Online Address', 'Program Url',
       'Registration Url', 'Registration Open', 'Registration Deadline',
       'Start Date', 'End Date', 'Start Time', 'End Time', 'Scheduled Mon',
       'Scheduled Tues', 'Scheduled Fri', 'Scheduled Sat', 'Scheduled Sun',
       'Scheduled Thurs', 'Scheduled Wed', 'Fri End Time', 'Fri Start Time',
       'Mon End Time', 'Mon Start Time', 'Sat End Time', 'Sat Start Time',
       'Sun End Time', 'Sun Start Time', 'Thurs End Time', 'Thurs Start Time',
       'Tues End Time', 'Tues Start Time', 'Wed End Time', 'Wed Start Time',
       'Contact Name', 'Contact Email', 'Contact Phone', 'Program Price',
       'Geographic Cluster Name', 'Program Pays Participants',
       'Program Has Scholarships', 'Program Provides Transportation',
       'Latitude', 'Longitude', 'Program Provides Free Food'],
      dtype='object')

In [16]:
data['Scheduled Mon'].value_counts()

True    161
Name: Scheduled Mon, dtype: int64

Possible variables:
- weekday y/n
- during school hours y/n
- during work hours y/n
- age range width: kids, tweens, teens, young adults
- registration availability length 
- (if data possible from URL) registered on app or website

In [8]:
data.iloc[1,1]

78752

In [10]:
type(data.iloc[1,18])

str

In [13]:
#cleaning to engineer time related variables
data['start_date'] = pd.to_datetime(data['Start Date'])
data['end_date'] = pd.to_datetime(data['End Date'])
data['registration_open'] = pd.to_datetime(data['Registration Open'])
data['registration_close'] = pd.to_datetime(data['Registration Deadline'])
data['start_time'] = pd.to_datetime(data['Start Time'])
data['end_time'] = pd.to_datetime(data['End Time'])

In [17]:
#creating temporal variables 
data['program_daily_len'] = data['end_time'] - data['start_time']
data['registration_len'] = data['registration_close'] - data['registration_open']
data['program_len'] = data['end_date']-data['start_date']
data['registration_to_start_len'] = data['start_date'] -data['registration_close']

In [29]:
data['during_weekend'] = np.where((data['Scheduled Sat'] == True) | (data['Scheduled Sun']==True), 1, 0)


data['during_weekday'] = np.where(((data['Scheduled Mon'] ==True) | 
                                        (data['Scheduled Tues'] == True) | 
                                        (data['Scheduled Fri'] == True) | 
                                        (data['Scheduled Thurs']==True) |
                                        (data['Scheduled Wed']==True)),1, 0)



data['full_week'] = np.where((data['during_weekday'] == 1) & (data['during_weekend'] == 1), 1, 0)

In [46]:
#data['interrupts_workday'] = np.where((data['during_weekday'] == 1) & 
#                                      (((data['start_time'].hour> 9) & (data['start_time'].hour < 17)) | ((data['end_time'].hour > 9) & (data['end_time'].hour < 17))),
#                                     1,0)
                             

#data['interrupts_workday'] = data.apply(lambda x: if )





data['interrupts_workday'] = 0

for i in range(data.shape[0]):
    if data.loc[i,'during_weekday'] == 1:
        if (((data.loc[i,'start_time'].hour> 9) & (data.loc[i,'start_time'].hour < 17)) | 
            ((data.loc[i,'end_time'].hour > 9) & (data.loc[i,'end_time'].hour < 17))):
            data.loc[i,'interrupts_workday'] = 1

In [48]:
data['age_range'] = data['Max Age'] - data['Min Age']

In [53]:
#kids <= 10
#tweens 11,12,13
#teens 14-19
#young adults >=20

data['supports_kids'] = np.where((data['Min Age'] < 10), 1, 0)
data['supports_tweens'] = np.where((data['Min Age'] <13) & (data['Max Age']>11), 1, 0)
data['supports_young_adults'] = np.where((data['Max Age'] > 20),1,0)
data['supports_teens'] = np.where((data['Min Age'] < 20) & (data['Max Age'] > 13),1,0)

In [54]:

data['during_school_hours'] = 0

for i in range(data.shape[0]):
    if data.loc[i,'during_weekday'] == 1:
        if (((data.loc[i,'start_time'].hour> 8) & (data.loc[i,'start_time'].hour < 15)) | 
            ((data.loc[i,'end_time'].hour > 8) & (data.loc[i,'end_time'].hour < 15))):
            data.loc[i,'during_school_hours'] = 1